html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    width: 100%;
    height: 100dvh;
    position: relative;
}

.leaflet-tile-pane {
    filter: hue-rotate(290deg) saturate(80%) brightness(105%);
}

.leaflet-popup-content {
    margin: 14px;
    min-width: 220px;
}

.leaflet-popup-content-wrapper {
    border-radius: 16px;
}

.leaflet-popup-tip {
    background: white;
}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: rgba(0, 0, 0, 0.28);
}

.marker-cluster div {
    background-color: #424242;
    color: white;
    font-weight: bold;
}